.popup__button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background-color: black;
    color: white;
    width: 358px;
    height: 50px;
    border-radius: 2px;
    margin-top: 48px;
    border: white;
}

@media screen and (max-width: 450px) {
    .popup__button {
        font-size: 14px;
        line-height: 17px;
        width: 238px;
        height: 46px;
        margin-top: 45px;
    }
}
