.header {
    width: calc(100% - 400px);
    display: grid;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1000px) {
    .header {
        width: calc(100% - 200px);
    }
}

@media screen and (max-width: 840px) {
    .header {
        width: calc(100% - 100px);
    }
}

@media screen and (max-width: 540px) {
    .header {
        width: calc(100% - 50px);
    }
}

@media screen and (max-width: 500px) {
    .header {
        width: 100%;
    }
}