/* .popup__person {
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 49px 0px 8px;
    border: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 450px) {
    .popup__person {
        padding: 75px 0px 8px;
    }
} */
