.profile__add {
    min-width: 150px;
    min-height: 50px;
    border: 2px solid #FFFFFF;
    background-color: black;
    grid-row: 2/3;
    grid-column: 4/5;
    align-self: center;
    justify-self: end;
    background-position: center;
    cursor: pointer;
}

.profile__add:hover {
    opacity: 0.6;
    border: 2px solid #ffffffb6;
}

@media screen and (max-width: 1115px) {
    .profile__add {
        min-width: 50px;
    }
}

@media screen and (max-width: 915px) {
    .profile__add {
        min-width: 40px;
        max-height: 40px;
    }
}

@media screen and (max-width: 840px) {
    .profile__add {
        max-height: 30px;
    }
}

@media screen and (max-width: 450px) {
    .profile__add {
        grid-column: 1/2;
        grid-row: 4/5;
        max-width: 500px;
        width: 100%;
        max-height: 50px;
        justify-self: center;
        margin-top: 33px;
    }
}