/* .profile__plus {
    max-width: 22px;
    max-height: 22px;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 450px) {
    .profile__plus {
        max-width: 16px;
        max-height: 16px;
    }
} */