.popup__close {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.5);
    right: -34px;
    top: -42px;
    border: black;
}

@media screen and (max-width: 450px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 6px;
        top: -36px;
    }
}