.popup__close {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0);
    right: -40px;
    top: -40px;
    border: black;
    background-image: url(../../../images/Close_Icon.svg);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 450px) {
    .popup__close {
        background-image: url(../../../images/Close_Icon_mobile.svg);
        width: 20px;
        height: 20px;
        right: 0px;
        top: -35px;
    }
}