.elements__delete {
    background-image: url(../../../images/delete.svg);
    width: 18px;
    height: 19px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 17px;
    right: 11px;
    background-color: #fff0;
    box-sizing: content-box;
    border-color: #8fbc8f00;
    cursor: pointer;
}

.elements__delete:hover {
    opacity: 0.8;
}