.elements__like {
    background-image: url(../../../images/like.svg);
    max-width: 22px;
    max-height: 19px;
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
    background-repeat: no-repeat;
    cursor: pointer;
}

.elements__like:active {
    background-image: url(../../../images/like_black.svg);
    
}

.elements__like:hover {
    opacity: 0.5;
}