.elements__like {
    background-image: url(../../../images/heart.png);
    max-width: 22px;
    max-height: 19px;
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
    background-repeat: no-repeat;
}

.elements__like:active {
    background-image: url(../../../images/Union.png);
    
}

.elements__like:hover {
    opacity: 0.5;
}