.modal__button {
    background-image: url(../../../images/Close_Icon.svg);
    width: 32px;
    height: 32px;
    background-color: rgba(240, 248, 255, 0);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    right: -40px;
    top: -40px;
}

.modal__button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 450px) {
    .modal__button {
        background-image: url(../../../images/Close_Icon_mobile.svg);
        width: 20px;
        height: 20px;
        right: 0px;
        top: -35px;
    }
}