.elements__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    background-color: white;
    max-width: 282px;
    border-radius: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 690px) {
    .elements__item {
        max-width: 220px;
    }
}

@media screen and (max-width: 500px) {
    .elements__item {
        max-width: 282px;
    }
}